@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html, body { height: 100%; }
body { @apply bg-slate-50 text-slate-800; }

/* React Flow sizing helper if you want */
#flow-wrapper { height: calc(100vh - 280px); }
